{{> baseContent}}
    <h2>Instructors:</h2>
    {{#each instructors}}
        <div class="row">
        <b>{{name}}</b>
        <b>{{activity}}</b>
        </div>
    {{/each}}
    <h2>Users:</h2>
    {{#each users}}
        <div class="row">
        <b>{{firstName}} {{lastName}}</b>
        </div>
    {{/each}}
    <h2>Meetups:</h2>
    {{#each meetups}}
        <div class="row">
        <b>{{instructor}}</b>
        <b>{{activity}}</b>
        <b>{{timeslot}}</b>
        <b>{{capacity}}</b>
        </div>
    {{/each}}
{{baseContent}}